<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Login Page{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.8.0"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-100">

  {% include 'components/header.html' %}

  <main class="flex-grow flex items-center justify-center">
    {% block content %}{% endblock %}
  </main>

  {% include 'components/footer.html' %}
  
</body>
</html>